* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  color: #ffffff;
  background-image: linear-gradient(-45deg, #94480791, rgb(79, 72, 62));
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.countries {
  /* margin-bottom: 8rem; */
  display: flex;

  font-size: 2rem;
  opacity: 0;
  transition: opacity 1s;
}

.country {
  background-color: #ffffff38;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  width: 30rem;
  border-radius: 0.7rem;
  margin: 0 3rem;
  /* overflow: hidden; */
}

.neighbour::before {
  content: 'Neighbour country';
  width: 100%;
  position: absolute;
  top: -4rem;

  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
}

.neighbour {
  transform: scale(0.8) translateY(1rem);
  margin-left: 0;
}

.country__img {
  width: 30rem;
  height: 17rem;
  object-fit: cover;
  background-color: #eee;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}

.country__data {
  padding: 2.5rem 3.75rem 3rem 3.75rem;
}

.country__name {
  font-size: 2.7rem;
  margin-bottom: 0.7rem;
}

.country__region {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  color: #ffffff;
}

.country__row:not(:last-child) {
  margin-bottom: 1rem;
}

.country__row span {
  display: inline-block;
  margin-right: 2rem;
  font-size: 2.4rem;
}

.reset {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.339);
  margin-top: -20px;
  margin-bottom: 50px;
  border: 1px solid #ccc;
  transition: 0.2s;
}
.reset:hover {
  cursor: pointer;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 13px;
  font-weight: bold;
  color: black;
  background-color: rgb(255, 255, 255);
}

.btn-country {
  border: none;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem 5rem;
  font-weight: bolder;
  text-align: center;
  border-radius: 34px;
  color: rgb(255, 255, 255);
  background-color: rgba(197, 197, 197, 0.705);
  cursor: pointer;
  transition: 0.2s;
  margin-top: 40px;
}
.btn-country:hover {
  padding: 2.4rem 5.4rem;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 174, 0);
}

.images {
  display: flex;
}

.images img {
  display: block;
  width: 80rem;
  margin: 4rem;
}

.images img.parallel {
  width: 40rem;
  margin: 2rem;
  border: 3rem solid white;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
}
